Cython==0.19.1
Glances==1.7.2
PIL==1.1.7
PyYAML==3.10
argparse==1.2.1
args==0.1.0
clint==0.3.3
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
docopt==0.6.1
futures==2.1.6
gensim==0.9.1
gevent==1.0dev
greenlet==0.4.1
internetarchive==0.5.4
ipdb==0.8
ipython==1.1.0
jsonpatch==0.4
jsonpointer==1.1
language-selector==0.1
numpy==1.6.1
pp==1.6.4
psutil==1.1.2
py==1.4.20
pymongo==2.7
pytest==2.3.4
python-apt==0.8.3ubuntu7
python-dateutil==2.2
python-magic==0.4.6
pytz==2013.9
requests==2.2.0
scipy==0.9.0
six==1.4.1
stevedore==0.12
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
